:root {
  --primary: #1a2236;
  --primary-hover-dark: #1f273b;
  --primary-active-blue: #0a80ff;
  --text-main-color: #c6c8cd;
  --text-secondary-color: #4f5a6a;
  --navigation-border: 1px solid #ebebeb;
}
img {
  user-select: none;
}

* {
  margin: 0;
  font-family: sans-serif;
  padding: 0;
}
html,
body,
#root,
#root > div {
  height: 100%;
}
ul li {
  list-style: none;
}
body {
  background-color: var(--primary);
}
.msngr {
  display: grid;
  grid-template-columns: 100px 350px 1fr;
}
aside .top-sidebar {
  width: 100%;
}
aside .top-sidebar .logo-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  transition: 0.3s;
  cursor: pointer;
}
aside .top-sidebar .logo-container img {
  width: 35px;
}
aside .top-sidebar .logo-container:hover {
  background-color: var(--primary-hover-dark);
}
.nav-icon-cont {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 17px;
  border-radius: 5px;
  transition: 0.3s;
  cursor: pointer;
}
.nav-icon-cont:hover {
  background-color: var(--primary-hover-dark);
}
.navigation-icons {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
  gap: 20px;
}
.nav-icon {
  font-size: 20px;
  color: white;
}

.msngr aside {
  grid-column: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background-color: var(--primary);
  border-right: 1px solid #ebebeb;
  border-right-color: #293145;
}
.msngr aside h1 {
  font-size: 25px;
}
.nav-profile-image {
  width: 30px;
  object-fit: cover;
  border-radius: 50%;
}
.profile-cont {
  padding: 12px;
}
.bottom-sidebar {
  padding-bottom: 20px;
}
.active {
  background-color: var(--primary-active-blue);
}
.active:hover {
  background-color: var(--primary-active-blue);
}
.new-notif {
  position: relative;
}
.new-notif:before {
  content: "";
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background-color: rgb(185, 4, 4);
  position: absolute;
  top: 10px;
  right: 10px;
}
.msngr section {
  border-right: 1px solid #ebebeb;
  border-right-color: #293145;
}
.msngr section header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 25px;
}
.msngr section header span {
  font-size: 22px;
  color: var(--text-main-color);
  font-weight: bold;
  font-family: sans-serif;
}

.msngr section header ul {
  display: flex;
  align-items: center;
  gap: 20px;
}
.msngr section header ul li div {
  padding: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  padding: 6px;
  transition: 0.3s;
  border-radius: 5px;
  border: 1px solid #293145;
}

.msngr section header ul li div:hover {
  background-color: var(--primary-hover-dark);
}

.chat-section-btn {
  color: rgba(255, 255, 255, 0.75);
  font-size: 25px;
}
.msngr section {
  height: 100vh;
  overflow-y: hidden;
}
.sidebar-chats {
  overflow-y: scroll;
  height: calc(100% - 194px);
}
.sidebar-chats:hover::-webkit-scrollbar {
  visibility: visible;
}
.sidebar-chats:hover::-webkit-scrollbar-thumb {
  visibility: visible;
}

.sidebar-chats::-webkit-scrollbar {
  width: 2px;
  background-color: var(--primary);
  visibility: hidden;
}
.sidebar-chats::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: var(--text-secondary-color);
  visibility: hidden;
}
.msngr section form input {
  width: 290px;
  font-size: 16px;
  color: white;
  background-color: transparent;
  border: 1px solid #293145;
  padding: 15px 10px;
  transition: 0.3s;
  outline: none;
  border-radius: 5px;
}
.msngr section form input:focus {
  border: 1px solid var(--primary-active-blue);
}
.msngr section form {
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.sidebar-chats {
  padding-top: 25px;
}
.sidebar-chat-user-pfp {
  width: 36.8px;
  border-radius: 50%;
  object-fit: cover;
  height: 36.8px;
}
.sidebar-chat-user-info {
  justify-self: flex-end;
}
.sidebar-chat-user {
  display: flex;
  align-items: center;
  border-bottom: 1px solid #293145;
  gap: 20px;
  overflow: none;
  cursor: pointer;
  padding: 17px 30px;
  transition: 0.2s;
}
.sidebar-chat-user:hover {
  background-color: var(--primary-hover-dark);
}

.sidebar-chat-user h5 {
  color: var(--text-main-color);
  font-size: 16px;
}
.sidebar-chat-user-text {
  width: 100%;
}
.chat--user-pfp-cont {
  position: relative;
}

.active-user {
  position: absolute;
  width: 10px;
  height: 10px;
  background-color: rgb(36, 230, 36);
  border: 4px solid var(--primary);
  border-radius: 50%;
  top: -5px;
  right: -7px;
}
.sidebar-chat-user p {
  max-width: 160px;
  margin-top: 6px;
  font-size: 14px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  color: var(--text-secondary-color);
  display: block;
  margin-bottom: 0;
  color: rgba(255, 255, 255, 0.4);
}
.navigation-icons {
  position: relative;
}
.profile-dropdown {
  position: absolute;
  padding: 10px;
  top: -100px;
  right: -70px;
  border-radius: 5px;
  z-index: 2;
  box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.144);
  background-color: #293145;
}
.profile-dropdown p {
  color: var(--text-main-color);
  margin: 10px;
  width: 100%;
  transition: 0.3s;
  font-weight: bold;
  cursor: pointer;
}
.logout {
  color: rgb(245, 52, 52) !important;
  margin-top: 10px;
}
.chat-header {
  height: 69px;
  border-bottom: 1px solid #293145;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5px 30px;
}
.chat-header img {
  width: 36.8px;
  height: 36.8px;
  border-radius: 50%;
  object-fit: cover;
}
.chat-header .chat-user {
  display: flex;
  color: var(--text-main-color);
  align-items: center;
  gap: 15px;
}
.chat-header .chat-user h2 {
  font-size: 16px;
}
.chat-header .chat-profile-icon {
  color: var(--text-main-color);
  font-size: 20px;
}
.chat-profile-icon-cont {
  padding: 8px;
  border-radius: 3px;
  cursor: pointer;
  border: 1px solid #293145;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.3s;
}
.chat-profile-icon-cont:hover {
  background-color: var(--primary-hover-dark);
}
.chat-footer {
  width: 100%;
  display: flex;
  align-items: center;
}
.chat-footer-buttons-cont {
  padding: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #293145;
  cursor: pointer;
  transition: 0.3s;
}
.chat-footer-buttons-cont:hover {
  background-color: var(--primary-hover-dark);
}
.chat-footer-btn {
  color: var(--text-main-color);
  font-size: 20px;
}
.chat-footer-buttons-cont {
  height: calc(1.5em + 0.75rem + 2px);
  width: calc(1.5em + 0.75rem + 2px);
  border-radius: 5px;
  margin-right: 20px;
}
main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 0;
}
.chat-body {
  height: 100%;
}
.chat-footer {
  border-top: 1px solid #293145;
}
.chat-footer input {
  margin: 20px;
  width: 100%;
  height: calc(1.5em + 0.75rem + 2px);
  font-size: 16px;
  color: white;
  background-color: transparent;
  border: 1px solid #293145;
  padding: 0.375rem 0.75rem;
  transition: 0.3s;
  outline: none;
  border-radius: 5px;
}
.chat-footer input:focus {
  border: 1px solid var(--primary-active-blue);
}

.send-btn {
  background-color: var(--primary-active-blue);
  color: white;
}
.send-btn:hover {
  background-color: var(--primary-active-blue);
}
.sent-message,
.recieved-message {
  display: flex;
  width: 100%;
  color: white;
  margin: 10px 0;
}
.sent-message-cont,
.recieved-message-cont {
  max-width: 50%;
}
.sent-message {
  justify-content: flex-end;
}
.recieved-message {
  justify-content: flex-start;
  align-items: flex-start;
  gap: 10px;
}
.recieved-message-cont {
  padding: 10px;
  display: inline-block;
  background-color: var(--text-secondary-color);
  border-radius: 5px;
}
.recieved-pfp {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  object-fit: cover;
}
.sent-message-cont {
  padding: 10px;
  display: inline-block;
  background-color: var(--primary-active-blue);
  border-radius: 5px;
}
.chat-body {
  padding: 10px 30px;
  display: flex;
  height: calc(100vh - 200px);
  overflow-y: auto;
  flex-flow: column nowrap;
}
.chat-body > :first-child {
  margin-top: auto !important;
  /* use !important to prevent breakage from child margin settings */
}

.chat-body:hover::-webkit-scrollbar {
  visibility: visible;
}
.chat-body:hover::-webkit-scrollbar-thumb {
  visibility: visible;
}

.chat-body::-webkit-scrollbar {
  width: 2px;
  background-color: var(--primary);
  visibility: hidden;
}
.chat-body::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: var(--text-secondary-color);
  visibility: hidden;
}
.dummy {
  position: absolute;
  bottom: 0;
}
